**/node_modules/**
**/build/**
persistance

**/src/generated/prisma*

/build/**
/coverage/**
/docs/**
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**

!.eslintrc.js

**/node_modules/**
**/dist/**
**/.cache/**
**/build/**
**/bundle/**
.jscpd

build-cache